*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,yellow,orange);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.slider{
    position:relative;
    width: 200px;
    height:200px;
    transform-style: preserve-3d;
    animation-play-state: running;
    animation: rotate 30s linear infinite;
    cursor: pointer;
}

@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.slider:hover{
    animation-play-state: paused;
}
.slider span{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.slider span img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 14px;
    object-fit: cover;
    transition: 2s ;
}
.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
    border:2px solid greenyellow;
}
.tag{
    position: absolute;
    right:30px;
    bottom:20px;
    color: black;
}